
td{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: relative;
}

td:hover .bg1 {
    width: 100%;
    height: 100%;
    animation: leftToRight 3s;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    background-clip: padding-box;
}
@keyframes leftToRight{
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}
td:hover .bg4 {
    width: 100%;
    height: 100%;
    animation: rightToLeft 3s;
    background: purple;
    position: absolute;
    right: 0;
    top: 0;
    background-clip: padding-box;
}
@keyframes rightToLeft{
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}
td:hover .bg2 {
    width: 100%;
    height: 100%;
    animation: topToBottom 3s;
    background: orange;
    position: absolute;
    left: 0;
    top: 0;
    background-clip: padding-box;
}
@keyframes topToBottom{
    0% {
        height: 0;
    }
    100%{
        height: 100%;
    }
}
td:hover .bg3 {
    width: 100%;
    height: 100%;
    animation: bottomToTop 3s;
    background: blue;
    position: absolute;
    bottom: 0;
    right: 0;
    background-clip: padding-box;
}
@keyframes bottomToTop{
    0% {
        height: 0;
    }
    100%{
        height: 100%;
    }
}
td:hover .bg61 {
    Width: 50%;
    height: 100%;
    background: brown;
    animation: leftToRightHalf 3s;
    position: absolute;
    left: 0;
    top: 0;
    background-clip: padding-box;
    
}
@keyframes leftToRightHalf{
    0% {
        width: 0;
    }
    100%{
        width: 50%;
    }
}
td:hover .bg62 {
    width: 50%;
    height: 100%;
    background: brown;
    animation: rightToLeftHalf 3s;
    position: absolute;
    right: 0;
    top: 0;
    background-clip: padding-box;
}
@keyframes rightToLeftHalf{
    0% {
        width: 0;
    }
    100%{
        width: 50%;
    }
}
td:hover .bg51 {
    Width: 50;
    height: 100%;
    background: gold;
    animation: leftToRightHalf 3s;
    position: absolute;
    right: 50%;
    top: 0;
    background-clip: padding-box;
    
}
@keyframes leftToRightHalf{
    0% {
        width: 0;
    }
    100%{
        width: 50%;
    }
}
td:hover .bg52 {
    width: 50;
    height: 100%;
    background: gold;
    animation: rightToLeftHalf 3s;
    position: absolute;
    left: 50%;
    top: 0;
    background-clip: padding-box;
}
@keyframes rightToLeftHalf{
    0% {
        width: 0;
    }
    100%{
        width: 50%;
    }
}