body {
    background: green;
}
td{
    border: 1px solid black;
    width: 40px;
    height: 30px;
}

.red {
    width: 0;
    height: 100%;
    background: red;
}
.orange {
    width: 100%;
    height: 0;
    background: orange;
}
.blue {
    width: 0;
    height: 100%;
    background: blue;
}
.brown {
    width: 0;
    height: 100%;
    background: brown;
}
.gold {
    width: 100%;
    height: 0;
    background: gold;
}
.purple {
    width: 0;
    height: 100%;
    background: purple;
}
.toRight:hover div {
    width: 100%;
    animation: leftToRight 3s;
}
@keyframes leftToRight{
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.toLeft {
    position: relative;
}
.toLeft:hover div {
    width: 100%;
    animation: rightToLeft 3s;
    position: absolute;
    right: 0;
    top: 0;
}
@keyframes rightToLeft{
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.toBottom {
    position: relative;
}
.toBottom:hover div {
    width: 100%;
    animation: topToBottom 3s;
    position: absolute;
    right: 0;
    top: 0;
}
@keyframes topToBottom{
    0% {
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.toTop {
    position: relative;
}
.toTop:hover div {
    width: 100%;
    animation: bottomToTop 3s;
    position: absolute;
    bottom: 0;
}
@keyframes bottomToTop{
    0% {
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.toRightHalf{
    position: relative;
}
.toRightHalf:hover div {
    width: 50%;
    animation: leftToRightHalf 3s;
    position: absolute;
    
}
@keyframes leftToRightHalf{
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.toLeftHalf {
    position: relative;
}
.toLeftHalf:hover div {
    width: 100%;
    animation: rightToLeftHalf 3s;
    position: absolute;
    right: 0;
    top: 0;
}
@keyframes rightToLeftHalf{
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}